<%- contentFor('header') %>

	<link rel="stylesheet" type="text/css" href="pages/index/index.css">

<%- contentFor('content') %>
	<div id="indexView">
		Welcome to index!

		<div>
			<p><a href="/hello">go to hello!</a></p>
			<p><a href="/users">go to users!</a></p>
			<p><a href="/detail">go to detail!</a></p>
			<p><a href="/test">go to test!</a></p>
			<p><a href="/qq">Go to QQ!</a></p>
		</div>

		<br>
		<div class="keyTouch" @click="openTouch">{{open.data[open.state]}}</div>

		<div class="touch_div" id="touchTextId" v-show="open.state">Touch me!</div>

		<div class="endWrap">end!</div>
	</div>

<%- contentFor('footer') %>

	<script type="text/javascript" src="pages/index/index.js"></script>
