
<%- contentFor('header') %>

	<link rel="stylesheet" type="text/css" href="pages/test/test.css">

<%- contentFor('content') %>
	<style type="text/css">
		.recommend-size-wrap {
			/*display: none;*/
			position: absolute;
			width: 900px;
			height: 540px;
			top: 20px;
			left: 50%;
			padding: 44px 44px 0 30px;
    		margin-left: -450px;
			border: 1px solid grey;
			box-sizing: border-box;
		}
		.recommend-size-wrap .close-btn {
			position: absolute;
		    top: 0;
		    right: 0;
		    font-size: 30px;
		    width: 44px;
		    height: 44px;
		    text-align: center;
		    cursor: pointer;
		}
		.recommend-size-wrap .size-img {
			width: 320px;
			height: 426px;
		}
		.recommend-size-wrap .size-wrap-right {
			width: 476px;
			padding: 0 13px;
			text-align: center;
			float: right;
		}
		.recommend-size-wrap .size-wrap-right .size-wrap-title {
			color: #222;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.recommend-size-wrap .size-wrap-right .size-wrap-tips {
			color: #666;
			font-size: 12px;
		}
		.recommend-size-wrap .size-wrap-right .size-switch {
			width: 60px;
			height: 28px;
			font-size: 12px;
			border: 1px solid #ccc;
			border-radius: 14px;
			margin: 22px auto 40px auto;
			box-sizing: border-box;
			cursor: pointer;
			position: relative;
		}
		.recommend-size-wrap .size-wrap-right .size-switch div {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 1px solid #fff;
			background-color: #000;
			left: 0;
		}
		.recommend-size-wrap .size-wrap-right .size-switch:before {
			content: 'CM';
			top: 6px;
			left: -38px;
			position: absolute;
		}
		.recommend-size-wrap .size-wrap-right .size-switch:after {
			content: 'IN';
			top: 6px;
			right: -30px;
			position: absolute;
		}
		.recommend-size-wrap .size-range-wrap .range-item {
			margin-bottom: 60px;
			font-size: 12px;
		}
		.recommend-size-wrap .size-range-wrap .range-lab {
			width: 30px;
			display: inline-block;
			vertical-align: top;
		}
		.recommend-size-wrap .size-range-wrap .range-prev {
			width: 110px;
			display: inline-block;
			vertical-align: top;
			text-align: right;
		}
		.recommend-size-wrap .size-range-wrap .range-body {
			display: inline-block;
			/*width: 230px;*/
			margin: 0 30px;
			position: relative;
		}
		.recommend-size-wrap .size-range-wrap .range-body:before {
			content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    left: -13px;
		    top: -2px;
		    border: 4px solid transparent;
		    border-right: 6px solid #666;
		}
		.recommend-size-wrap .size-range-wrap .range-body:after {
		    content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    right: -13px;
		    top: -2px;
		    border: 4px solid transparent;
		    border-left: 6px solid #666;
		}
		.recommend-size-wrap .size-range-wrap .rang-point {
			position: absolute;
			top: 12px;
			left: 100px;
			font-size: 12px;
			width: 30px;
			cursor: pointer;
		}
		.recommend-size-wrap .size-range-wrap .range-contain {
			position: relative;
			height: 3px;
			width: 200px;
			margin: 0 15px;
			/*z-index: 999;*/
			background: #666;
		}
		.recommend-size-wrap .size-range-wrap .rang-point:before {
			content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    top: -25px;
		    left: 50%;
    		margin-left: -4px;
		    border: 4px solid transparent;
		    border-top: 6px solid #666;
		}
		.recommend-size-wrap .size-submit {
			width: 200px;
			height: 44px;
			border: 1px solid #000;
			line-height: 44px;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 700;
			color: #000;
			text-align: center;
			margin-left: 177px;
			cursor: pointer;
		}
		
	</style>

	<div id="testView" style="position: relative;">
		<h3>Welcome to test!</h3>

        <h2 style="cursor: pointer;">Touch</h2>

        

        <div class="recommend-size-wrap" @mouseup="rangeUp">
        	<div class="close-btn">x</div>
        	<img src="" alt="hahathis!" class="size-img">
        	<div class="size-wrap-right">
        		<div class="size-wrap-title">Get the right size</div>
        		<p class="size-wrap-tips"> See which size people like you bought and did not return:</p>
        		<div class="size-switch">
        			<div></div>
        		</div>
        		<div class="size-range-wrap">
        			<div class="range-item">
        				<label class="range-prev">Height:</label>
        				<div class="range-body">
        					<div class="range-contain j-body-h"></div>
        					<div class="rang-point j-point j-height" @mousemove="rangeChange($event, 'height')" @mousedown="rangeDown($event, 'height')">{{rangeData.height.value}}</div>
        				</div>
        				<label class="range-lab j-point">{{rangeData.height.value}}</label>
        			</div>
        			<div class="range-item">
        				<label class="range-prev">Weight:</label>
        				<div class="range-body">
        					<div class="range-contain j-body-w"></div>
        					<div class="rang-point j-point j-weight" @mousemove="rangeChange($event, 'weight')" @mousedown="rangeDown($event, 'weight')">{{rangeData.weight.value}}</div>
        				</div>
        				<label class="range-lab j-point">{{rangeData.weight.value}}</label>
        			</div>
        			<div class="range-item">
        				<label class="range-prev">I prefer a fit that is:</label>
        				<div class="range-body">
        					<div class="range-contain j-body-p"></div>
        					<div class="rang-point j-point j-prefer" @mousemove="rangeChange($event, 'prefer')" @mousedown="rangeDown($event, 'prefer')">{{rangeData.prefer.value}}</div>
        				</div>
        				<label class="range-lab j-point">{{rangeData.prefer.value}}</label>
        			</div>
        		</div>
        		<div class="size-submit">
        			Find my size
        		</div>
        	</div>
        </div>

        <div class="endWrap">end!</div>
	</div>

<%- contentFor('footer') %>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="pages/test/test.js"></script>

	<script type="text/javascript" data-id="recommendedSize">
		$('#testView h2').click(function() {
			$('.recommend-size-wrap').show();
		})

		// $(".j-weight, .j-height").on({
		//     mousedown: function(e){
		//     	var el=$(this);
		//     	var ox = el.siblings('.range-contain').offset().left;
  //               var os = el.offset(); dx = e.pageX-os.left; sx = e.pageX;
  //               $(document).on('mousemove.drag', function(e){ 
  //               	console.log(el.offset().left-ox)
  //               	var _length = el.offset().left-ox;
  //               	if(_length > -18 && _length <=188) {
  //               		// console.count(_length)
  //               		el.offset({left: e.pageX-dx});
  //               	}
  //               });
  //           }
  //  		});

  //  		$(document).on('mouseup', function() {
  //  			$(document).off('mousemove.drag');
  //  			var ox = $(".j-weight").siblings('.range-contain').offset().left;
   			
  //  			var _length_h = $(".j-height").offset().left-ox;
  //  			if(_length_h <= -15) {
  //  				$(".j-height").css('left', 0);
  //  			} else if(_length_h > 185) {
  //  				$(".j-height").css('left', 200);
  //  			}

  //  			var _length_w = $(".j-weight").offset().left-ox;
  //  			if(_length_w <= -15) {
  //  				$(".j-weight").css('left', 0);
  //  			} else if(_length_w > 185) {
  //  				$(".j-weight").css('left', 200);
  //  			}
  //  		})

		// $('.j-range').on('input change', function() {
		// 	var $point = $(this).parents('.range-item').find('.j-point');
		// 	$point.css('left', Math.round((this.value-this.min)/(this.max-this.min)*200) + 'px');
		// 	if($point.data('type') == 'prefer') {
		// 		if(this.value == 0) {
		// 			$point.text('Tighter');
		// 		} else if(this.value == 1) {
		// 			$point.text('Suitable');
		// 		} else if(this.value == 2) {
		// 			$point.text('Looser');
		// 		}
		// 	} else {
		// 		$point.text(this.value);
		// 	}
		// })

		$('.j-range-w').siblings('.rang-point').css('left', '56px');

		var romSize = new Vue({
			el: '.recommend-size-wrap',
			data: {
				rangeData: {
					height: {
						ox: $('.j-body-h').offset().left,
						dx: 0,
						status: 0,
						value: 170,
						left: 0,
						range: 58,
						min: 140,
						max: 198
					},
					weight: {
						ox: $('.j-body-w').offset().left,
						dx: 0,
						status: 0,
						value: 60,
						left: 0,
						range: 125,
						min: 25,
						max: 150
					},
					prefer: {
						ox: $('.j-body-p').offset().left,
						dx: 0,
						status: 0,
						value: 'Suitable',
						left: 0,
						range: 2,
						min: 0,
						max: 2
					},
				},
				currentType: null
			},
			created: function() {
				console.log('vue!')

			},
			methods: {
				rangeChange: function(el, type) {
					if(this.rangeData[type].status) {
						var _el = $(el.target);
	                	var _length = _el.offset().left-this.rangeData[type].ox;
	                	this.rangeData[type].left = _length*1 + 15;
	                	if(_length > -18 && _length <=188) {
	                		_el.offset({left: el.pageX-this.rangeData[type].dx});
	                		// console.log(_el.css('left'))
	                		this.valueSwitch(type, parseInt(_el.css('left')));
	                	}
	                }
				},
				rangeDown: function(el, type) {
					var _el = $(el.target);
					this.rangeData[type].dx = el.pageX-_el.offset().left;
					this.rangeData[type].status = 1;
					this.currentType = type;
					// console.log(this.rangeData[type].dx)
				},
				rangeUp: function() {
					this.rangeData.height.status = 0;
					this.rangeData.weight.status = 0;
					this.rangeData.prefer.status = 0;

					if(this.currentType == 'prefer') {
						if(this.rangeData.prefer.value == 'Tighter') {
							$(".j-prefer").css('left', 0);
						} else if(this.rangeData.prefer.value == 'Looser') {
							$(".j-prefer").css('left', 200);
						} else {
							$(".j-prefer").css('left', 100);
						}
					} else if(this.currentType) {
						if(this.rangeData[this.currentType].left < 0) {
							$(".j-" + this.currentType).css('left', 0);
						} else if(this.rangeData[this.currentType].left > 200) {
							$(".j-" + this.currentType).css('left', 200);
						}
					}
				},
				valueSwitch: function(type, value) {
					if(type == 'prefer') {
						if(value < 67) {
							this.rangeData[type].value = 'Tighter';
						} else if(value > 135) {
							this.rangeData[type].value = 'Looser';
						} else {
							this.rangeData[type].value = 'Suitable';
						}
					} else {
						Math.round((this.value-this.min)/(this.max-this.min)*200)
						this.rangeData[type].value = Math.round(value/200*this.rangeData[type].range) + this.rangeData[type].min;
					}
				}
			}
		});

	</script>

	<script type="text/javascript">
		console.log('test come!');
		var data = {
			cate_id: 1733,
			p: 1,
			uid: 12304769,
			ps: 20,
			state: 6
		}

		// $.getJSON('http://50.23.190.57:5000/review/category/m/list?callback=?', data, function(json, textStatus) {
		// 	console.log(json);
		// });

		// $.getJSON('http://localhost/8.1baiduNewsPHP/php/baiduNews.php?callback=?', data, function(json, textStatus) {
		// 	console.log(json);
		// });

		// $.ajax({
		// 	url: 'http://localhost/8.1baiduNewsPHP/php/baiduNews.php',
		// 	type: 'get',
		// 	dataType: 'jsonp',
		// 	jsonp: 'callback',
		// 	data: data,
		// 	jsonpCallback: 'callback',
		// 	success: function(json) {
		// 		debugger
		// 		console.log(json);
		// 	}
		// })
		// .done(function() {
		// 	console.log("success");
		// })
		// .fail(function() {
		// 	console.log("error");
		// })
		// .always(function() {
		// 	console.log("complete");
		// });
		
	</script>