
<%- contentFor('header') %>

	<link rel="stylesheet" type="text/css" href="pages/test/test.css">

<%- contentFor('content') %>

	<div id="testView">
		<h3>Welcome to test!</h3>

        <h2>Touch</h2>

        <div class="endWrap">end!</div>
	</div>

<%- contentFor('footer') %>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="pages/test/test.js"></script>

	<script type="text/javascript">
		console.log('test come!');
		var data = {
			cate_id: 1733,
			p: 1,
			uid: 12304769,
			ps: 20,
			state: 6
		}

		// $.getJSON('http://50.23.190.57:5000/review/category/m/list?callback=?', data, function(json, textStatus) {
		// 	console.log(json);
		// });

		// $.getJSON('http://localhost/8.1baiduNewsPHP/php/baiduNews.php?callback=?', data, function(json, textStatus) {
		// 	console.log(json);
		// });

		// $.ajax({
		// 	url: 'http://localhost/8.1baiduNewsPHP/php/baiduNews.php',
		// 	type: 'get',
		// 	dataType: 'jsonp',
		// 	jsonp: 'callback',
		// 	data: data,
		// 	jsonpCallback: 'callback',
		// 	success: function(json) {
		// 		debugger
		// 		console.log(json);
		// 	}
		// })
		// .done(function() {
		// 	console.log("success");
		// })
		// .fail(function() {
		// 	console.log("error");
		// })
		// .always(function() {
		// 	console.log("complete");
		// });
		
	</script>