
<%- contentFor('header') %>

	<link rel="stylesheet" type="text/css" href="pages/test/test.css">

<%- contentFor('content') %>
	<style type="text/css">
		.recommend-size-outwrap {}
		.recommend-size-wrap {
			/*display: none;*/
			position: absolute;
			width: 900px;
			height: 540px;
			top: 20px;
			left: 50%;
			padding: 44px 44px 0 30px;
    		margin-left: -450px;
			border: 1px solid grey;
			box-sizing: border-box;
			user-select: none;
			z-index: 9999;
			background: #fff;
		}
		.recommend-size-wrap .close-btn {
			position: absolute;
		    top: 0;
		    right: 0;
		    font-size: 30px;
		    width: 44px;
		    height: 44px;
		    text-align: center;
		    cursor: pointer;
		}
		.size-mask {
			z-index: 999;
		    background: #000;
		    opacity: .5;
		    top: 0;
		    left: 0;
		    position: fixed;
		    bottom: 0;
		    right: 0;
		}
		.recommend-size-wrap .size-img {
			width: 320px;
			height: 426px;
		}
		.recommend-size-wrap .size-wrap-right {
			width: 488px;
			padding-left: 13px;
			text-align: center;
			float: right;
		}
		.recommend-size-wrap .size-wrap-right .size-wrap-title {
			color: #222;
			font-size: 18px;
			font-weight: 700;
			font-family: Arial-BoldMT;
			text-transform: uppercase;
		}
		.recommend-size-wrap .size-wrap-right-s .size-wrap-title {
			margin: 54px 0 30px 0;
		}
		.recommend-size-wrap .size-wrap-right .size-wrap-tips {
			color: #666;
			font-size: 12px;
			margin: 13px auto;
		}
		.recommend-size-wrap .size-wrap-right-s .size-wrap-tips {
			width: 295px;
			margin: auto;
			color: #222;
		}
		.recommend-size-wrap .size-wrap-right .size-switch {
			width: 60px;
			height: 28px;
			font-size: 12px;
			border: 1px solid #ccc;
			border-radius: 14px;
			margin: 22px auto 40px auto;
			box-sizing: border-box;
			cursor: pointer;
			position: relative;
		}
		.recommend-size-wrap .size-wrap-right .size-switch div {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 1px solid #fff;
			background-color: #000;
			left: 0;
		}
		.recommend-size-wrap .size-wrap-right .size-switch-inch div{
			float: right;
		}
		.recommend-size-wrap .size-wrap-right .size-switch:before {
			content: 'CM';
			top: 6px;
			left: -38px;
			position: absolute;
		}
		.recommend-size-wrap .size-wrap-right .size-switch:after {
			content: 'IN';
			top: 6px;
			right: -30px;
			position: absolute;
		}
		.recommend-size-wrap .size-range-wrap .range-item {
			margin-bottom: 60px;
			font-size: 12px;
		}
		.recommend-size-wrap .size-range-wrap .range-lab {
			width: 80px;
			display: inline-block;
			vertical-align: top;
			font-weight: bold;
			font-size: 16px;
			text-align: left;
		}
		.recommend-size-wrap .size-range-wrap .range-prev {
			width: 110px;
			display: inline-block;
			vertical-align: top;
			text-align: right;
			font-weight: bold;
		}
		.recommend-size-wrap .size-range-wrap .range-body {
			display: inline-block;
			/*width: 230px;*/
			margin: 0 30px;
			position: relative;
		}
		.recommend-size-wrap .size-range-wrap .range-body .range-input {
			position: absolute;
		    left: 13px;
		    top: -20px;
		    width: 200px;
		    height: 41px;
		    z-index: 200;
		    cursor: pointer;
		    opacity: 0;
		}
		.recommend-size-wrap .size-range-wrap .range-body:before {
			content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    left: -13px;
		    top: -2px;
		    border: 4px solid transparent;
		    border-right: 6px solid #666;
		}
		.recommend-size-wrap .size-range-wrap .range-body:after {
		    content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    right: -13px;
		    top: -2px;
		    border: 4px solid transparent;
		    border-left: 6px solid #666;
		}
		.recommend-size-wrap .size-range-wrap .rang-point {
			position: absolute;
			top: 12px;
			/*left: 100px;*/
			font-size: 12px;
			width: 60px;
			height: 30px;
			cursor: pointer;
		}
		.recommend-size-wrap .size-range-wrap .range-contain {
			position: relative;
			height: 3px;
			width: 200px;
			margin: 0 15px;
			/*z-index: 999;*/
			background: #666;
		}
		.recommend-size-wrap .size-range-wrap .rang-point:before {
			content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    top: -25px;
		    left: 50%;
    		margin-left: -4px;
		    border: 4px solid transparent;
		    border-top: 6px solid #666;
		}
		.recommend-size-wrap .size-submit {
			width: 200px;
			height: 44px;
			border: 1px solid #000;
			line-height: 44px;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 700;
			color: #000;
			text-align: center;
			margin-left: 160px;
			cursor: pointer;
			font-family: Arial-BoldMT;
		}
		.recommend-size-wrap .size-wrap-right-s .size-submit {
			margin: 0 auto 40px auto;
		}
		.recommend-size-wrap .size-wrap-right-s .size-result {
			margin: auto;
			padding: 55px 0 65px 0;
			font-size: 36px;
			font-weight: bold;
			color: #222;
			font-family: Arial-BoldMT;
		}
		.recommend-size-wrap .size-wrap-right-s .size-edit {
			font-size: 12px;
			color: #666;
			width: 110px;
			position: relative;
			margin: auto;
			cursor: pointer;
		}
		.recommend-size-wrap .size-wrap-right-s .size-edit:hover {
			text-decoration: underline;
		}
		.recommend-size-wrap .size-wrap-right-s .size-edit:before {
			content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    border: 7px solid transparent;
		    border-right: 6px solid #222;
		}
		
	</style>

	<div id="testView" style="position: relative;">
		<h3>Welcome to test!</h3>

        <h2 style="cursor: pointer;">Touch</h2>


	        <div class="size-mask"></div>
	        <div class="recommend-size-wrap">
	        	<div class="close-btn" @click="clickClose">x</div>
	        	<img src="" alt="hahathis!" class="size-img">
	        	<div class="size-wrap-right" v-if="rangeStatus == 0">
	        		<div class="size-wrap-title">Get the right size</div>
	        		<p class="size-wrap-tips"> See which size people like you bought and did not return:</p>
	        		<div class="size-switch" :class="{'size-switch-inch': unit == 'INCH'}" @click="clickUnit">
	        			<div></div>
	        		</div>
	        		<div class="size-range-wrap">
	        			<div class="range-item">
	        				<label class="range-prev">Height:</label>
	        				<div class="range-body">
	        					<input type="range" :min="rangeData.height[unit].min" :max="rangeData.height[unit].max" :step="rangeStep[unit]" class="j-input-h range-input" v-model="rangeData['height'][unit].value">
	        					<div class="range-contain j-body-h"></div>
	        					<div class="rang-point j-point j-height">{{rangeData['height'][unit].value|inchcase(unit)}}</div>
	        				</div>
	        				<label class="range-lab j-point">{{rangeData['height'][unit].value|inchcase(unit)}}</label>
	        			</div>
	        			<div class="range-item">
	        				<label class="range-prev">Weight:</label>
	        				<div class="range-body">
	        					<input type="range" :min="rangeData.weight[unit].min" :max="rangeData.weight[unit].max" step="1" class="j-input-w range-input" v-model="rangeData['weight'][unit].value">
	        					<div class="range-contain j-body-w"></div>
	        					<div class="rang-point j-point j-weight">{{rangeData['weight'][unit].value|inchcase(unit, 'KG')}}</div>
	        				</div>
	        				<label class="range-lab j-point">{{rangeData['weight'][unit].value|inchcase(unit, 'KG')}}</label>
	        			</div>
	        			<div class="range-item">
	        				<label class="range-prev">I prefer a fit that is:</label>
	        				<div class="range-body">
	        					<input type="range" :min="rangeData.prefer.min" :max="rangeData.prefer.max" class="j-input-p range-input" v-model="rangeData.prefer.value">
	        					<div class="range-contain j-body-p"></div>
	        					<div class="rang-point j-point j-prefer">{{rangeData.prefer.value|inchcase('prefer')}}</div>
	        				</div>
	        				<label class="range-lab j-point">{{rangeData.prefer.value|inchcase('prefer')}}</label>
	        			</div>
	        		</div>
	        		<div class="size-submit" @click="clickFindSize">
	        			Find my size
	        		</div>
	        	</div>
	        	<div class="size-wrap-right size-wrap-right-s" v-else>
	        		<div class="size-wrap-title" v-if="resultSize">
	        			I also wear...
	        		</div>
	        		<div class="size-wrap-title" v-else>
	        			OOPS!
	        		</div>
	        		<p class="size-wrap-tips" v-if="resultSize">
	        			Depending on your height, weight, and fit preferences, to recommend the following sizes
	        		</p>
	        		<p class="size-wrap-tips" v-else>
	        			This dress is not available in a size that matches your proportions and fit preference.
	        		</p>
	        		<div class="size-result" v-cloak>
	        			{{resultSize}}
	        		</div>
	        		<div class="size-submit">
	        			Continue shopping
	        		</div>
	        		<div class="size-edit">Edit my info</div>
	        	</div>

	    </div>

        <div class="endWrap">end!</div>
	</div>

<%- contentFor('footer') %>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="pages/test/test.js"></script>

	<script type="text/javascript" data-id="recommendedSize">
		$('#testView h2').click(function() {
			$('.recommend-size-wrap').show();
		})

		// $('.j-range-w').siblings('.rang-point').css('left', '56px');

		// 厘米转英尺过滤器
		Vue.filter('inchcase', function(value, unit, type) {
		    if (value<0) { return ''}

		    if(unit == 'prefer') {
		      	var _prefer = 'Suitable';
		      	if(parseInt(value) < 67) {
		      		_prefer = 'Tighter';
		      	} else if(parseInt(value) > 135) {
		      		_prefer = 'Looser';
		      	}
		      	return _prefer;
		    } else {
		    	if(type == 'KG') {
		    		if(unit == 'CM') {
		    			return value + ' KG'
		    		} else {
		    			return value + ' LB'
		    		}
		    	} else {
 		      		return value + ' ' + unit
 		      	}
 		    }
		});

		var romSize = new Vue({
			el: '.recommend-size-wrap',
			data: {
				unit: 'CM',
				rangeStep: {
					'CM': 1,
					'INCH': 0.1
				},
				rangeStatus: 0,
				rangeData: {
					height: {
						CM: {
							value: 0,
							range: 58,
							min: 140,
							max: 198
						},
						INCH: {
							value: 0,
							range: 22.9,
							min: 55.1,
							max: 78.0
						}
					},
					weight: {
						CM: {
							value: 0,
							range: 125,
							min: 25,
							max: 150
						},
						INCH: {
							value: 0,
							range: 276,
							min: 55,
							max: 331
						}
					},
					prefer: {
						value: 0,
						range: 200,
						min: 0,
						max: 200
					},
				},
				currentType: null,
				resultSize: 'XXL',
				rangeError: 15
			},
			watch: {
				'rangeData.height.CM.value': function(val) {
					$(".j-height").css('left', Math.round((val - this.rangeData.height.CM.min)/this.rangeData.height.CM.range*200)-this.rangeError);
					this.rangeData.height.INCH.value = (parseFloat(val)/2.539999918).toFixed(1)
				},
				'rangeData.height.INCH.value': function(val) {
					$(".j-height").css('left', Math.round((val - this.rangeData.height.INCH.min)/this.rangeData.height.INCH.range*200)-this.rangeError);
					this.rangeData.height.CM.value = Math.round(val*2.539999918)
				},
				'rangeData.weight.CM.value': function(val) {
					$(".j-weight").css('left', Math.round((val - this.rangeData.weight.CM.min)/this.rangeData.weight.CM.range*200)-this.rangeError);
					this.rangeData.weight.INCH.value = Math.round(val/0.4535924)
				},
				'rangeData.weight.INCH.value': function(val) {
					$(".j-weight").css('left', Math.round((val - this.rangeData.weight.INCH.min)/this.rangeData.weight.INCH.range*200)-this.rangeError);
					this.rangeData.weight.CM.value = Math.round(val*0.4535924)
				},
				'rangeData.prefer.value': function(val) {
					$(".j-prefer").css('left', Math.round((val - this.rangeData.prefer.min)/this.rangeData.prefer.range*200)-this.rangeError);
				}
			},
			created: function() {
				console.log('vue!')
				this.rangeData.height.CM.value = 170;
				this.rangeData.weight.CM.value = 60;
				this.rangeData.prefer.value = 100;

			},
			methods: {
				clickFindSize: function() {
					this.rangeStatus = 1;
				},
				clickUnit: function() {
					if(this.unit == 'CM') {
						this.unit = 'INCH';
					} else {
						this.unit = 'CM';
					}
				},
				clickClose: function() {
					$('.recommend-size-wrap').hide();
				},
				// rangeChange: function(el, type) {
				// 	if(this.rangeData[type].status) {
				// 		var _el = $(el.target);
	   //              	var _length = _el.offset().left-this.rangeData[type].ox;
	   //              	this.rangeData[type].left = _length*1 + 15;
	   //              	if(_length > -18 && _length <=188) {
	   //              		_el.offset({left: el.pageX-this.rangeData[type].dx});
	   //              		this.valueSwitch(type, parseInt(_el.css('left')));
	   //              	}
	   //              }
				// },
				// rangeDown: function(el, type) {
				// 	var _el = $(el.target);
				// 	this.rangeData[type].dx = el.pageX-_el.offset().left;
				// 	this.rangeData[type].status = 1;
				// 	this.currentType = type;
				// },
				// rangeUp: function() {
				// 	this.rangeData.height.status = 0;
				// 	this.rangeData.weight.status = 0;
				// 	this.rangeData.prefer.status = 0;

				// 	if(this.currentType == 'prefer') {
				// 		if(this.rangeData.prefer.value == 'Tighter') {
				// 			$(".j-prefer").css('left', 0);
				// 		} else if(this.rangeData.prefer.value == 'Looser') {
				// 			$(".j-prefer").css('left', 200);
				// 		} else {
				// 			$(".j-prefer").css('left', 100);
				// 		}
				// 	} else if(this.currentType) {
				// 		if(this.rangeData[this.currentType].left < 0) {
				// 			$(".j-" + this.currentType).css('left', 0);
				// 		} else if(this.rangeData[this.currentType].left > 200) {
				// 			$(".j-" + this.currentType).css('left', 200);
				// 		}
				// 	}
				// },
				// valueSwitch: function(type, value) {
				// 	if(type == 'prefer') {
				// 		if(value < 67) {
				// 			this.rangeData[type].value = 'Tighter';
				// 		} else if(value > 135) {
				// 			this.rangeData[type].value = 'Looser';
				// 		} else {
				// 			this.rangeData[type].value = 'Suitable';
				// 		}
				// 	} else {
				// 		Math.round((this.value-this.min)/(this.max-this.min)*200)
				// 		this.rangeData[type].value = Math.round(value/200*this.rangeData[type].range) + this.rangeData[type].min;
				// 	}
				// }
			}
		});

	</script>

	<script type="text/javascript">
		console.log('test come!');
		var data = {
			cate_id: 1733,
			p: 1,
			uid: 12304769,
			ps: 20,
			state: 6
		}

		// $.getJSON('http://50.23.190.57:5000/review/category/m/list?callback=?', data, function(json, textStatus) {
		// 	console.log(json);
		// });

		// $.getJSON('http://localhost/8.1baiduNewsPHP/php/baiduNews.php?callback=?', data, function(json, textStatus) {
		// 	console.log(json);
		// });

		// $.ajax({
		// 	url: 'http://localhost/8.1baiduNewsPHP/php/baiduNews.php',
		// 	type: 'get',
		// 	dataType: 'jsonp',
		// 	jsonp: 'callback',
		// 	data: data,
		// 	jsonpCallback: 'callback',
		// 	success: function(json) {
		// 		debugger
		// 		console.log(json);
		// 	}
		// })
		// .done(function() {
		// 	console.log("success");
		// })
		// .fail(function() {
		// 	console.log("error");
		// })
		// .always(function() {
		// 	console.log("complete");
		// });
		
	</script>