
<%- contentFor('header') %>

	<link rel="stylesheet" type="text/css" href="pages/users/users.css">

<%- contentFor('content') %>

	<div id="usersView">
		<h3>Welcome to Users!</h3>
		<p>{{myTime}}</p>
		<assets></assets>
		<router-link to="/home">load to home!</router-link>
        <router-link to="/test">load to test!</router-link>
        <router-view></router-view>
        <!-- <img src="src/users/logo.png"> -->
	</div>

<%- contentFor('footer') %>

	<script type="text/javascript" src="pages/users/users.js"></script>